html,body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    height: 100%;
}

html {
    padding: 0px;
}

body {
    padding: 0px;
}

.p3-status-light {
    display: inline-block;
    background: red;
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.p3-status-light[data-state="online"] {
    background: rgb(31, 190, 31);
}

.p3-ports-list {
    width: 100%;
    height: 390px;
}

.p3-port-entries {
    height: 373px;
    overflow-y: scroll;
}

.p3-port-entries::-webkit-scrollbar {
    display: none;
}

.p3-port-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.p3-port-port, .p3-port-flags, .p3-port-type {
    width: 100%;
}

.p3-status-light[data-state="connecting"] {
    background: rgb(190, 140, 31);
}

.p3-status-light[data-state="offline"] {
    background: rgb(199, 21, 21);
}

.p3-status-light[data-state="error"] {
    background: rgb(107, 0, 0);
}

.p3-status-light[data-state="loading"] {
    background: rgb(88, 88, 88);
}

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tab-strip {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.left-over-space {
    width: 100%;
    cursor: default;
}

.tab-strip div {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 4px;
    cursor: pointer;
}

.tab-strip div:not(.tab-current) {
    border-bottom: 1px solid black;
}

.view-strip {
    width: 100%;
    height: 100%;
}

.view-strip div[class^='view'] {
    display: none;
}

.view-strip div.view-current {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 4;
    display: block;
}